<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Photos Reorganizer</title>
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
</head>
<body>
    <h1>Google Photos Reorganizer</h1>
<!--     <form action="{{ url_for('query')}}" method="POST" enctype="multipart/form-data">
        Select query image: <input type="file" name="photo" /><br />
        <input type="submit" /> -->
    <form action="{{ url_for('open_save_google_photos')}}" method="POST" enctype="multipart/form-data">
        Authenticate and Save Google Photos: <input type="submit" value="Authenticate"/>
    </form>
    {{ dropzone.create(action='upload') }}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
    <form action="{{ url_for('query')}}" method="POST" enctype="multipart/form-data">
        <input type="submit" style="text-align:center" value="Group"/>
    </form>
</body>
</html>
