<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Google Photos Reorganizer</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{url_for('main')}}">Done</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"></li>
        </ul>
      </div>
      <a href="{{url_for('open_save_google_photos')}}" class="btn btn-success" role="button">Google Login</a>
    </nav>

    <!-- Alert -->
    <div class="alert alert-warning h2 text-center" role="alert">
      Similar Images Found!
    </div>

    <!-- Images Groups -->
    {% for upload_url, similar_url_list in similar_img_mapping.items() %}
    <div class="container-fluid image_group">
      <div class="row">
        <div class="card" style="max-width: 300px;">
          <img class="card-img-top" src="{{ upload_url }}" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">New Image</h5>
            <a href="{{ url_for('confirm_upload', img_url=upload_url, upload=1)}}" class=" btn btn-primary">Upload</a>
            <a href="{{ url_for('confirm_upload', img_url=upload_url, upload=0)}}" class="btn btn-secondary">Skip</a>
          </div>
        </div>
        <div class="card-group col-sm-9">
          {% for sim_url in similar_url_list %}
          <div class="card" style="max-width: 300px;">
            <img class="card-img-top" src="{{ sim_url }}" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">Existing Image</h5>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ sim_url }}</small>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </body>
</html>
